/*сброс стилей*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

:root {
  --pretty-color: #2196f3;
  --while-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --dark-gray-color: #2f303a;
  --button-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --our-team-color: #f5f4fa;
}

/*Шапка меню*/
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.body {
  font-family: 'Roboto', sans-serif;
  background: var(--while-color);
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--black-color);
}
.logo-header .web-header {
  color: var(--pretty-color);
}
.header .active:visited {
  color: var(--pretty-color);
}
.header .logo-header:hover {
  color: var(--black-color);
}

.list-header {
  display: flex;
  align-items: center;
}
.list-header-menu {
  display: flex;
  margin-left: 93px;
}
.list-header-menu > li:not(:last-child) {
  margin-right: 50px;
}
.list-header-contacts {
  display: flex;
}
.list-header-contacts > li:not(:last-child) {
  margin-right: 50px;
}

.list-header-contacts > li {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
  padding: 24px 0px 25px;
}

.list-header a,
.list-header-contacts a {
  color: #212121;
  text-decoration: none;
}
.list-header a:hover,
.list-header-contacts a:hover {
  color: var(--pretty-color);
}

a.contacts {
  font-size: 14px;
  line-height: 24px;
  color: var(--grey-color);
}

/*герой студия*/

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*герой*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--dark-gray-color);
}

.title-main-bold {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  background: var(--dark-gray-color);
  font-size: 44px;
  line-height: 1.364em;
  text-align: center;
  color: var(--while-color);
  margin-bottom: 30px;
}
.button {
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  padding: 9.63px 32px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background: var(--pretty-color);
  color: var(--while-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/*4 пункта*/

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-list-title {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.nav-list-title:last-child {
  margin: 0;
}
.nav-list > li {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.work-list {
  font-size: 36px;
  line-height: 42px;
  color: var(--black-color);
  text-align: center;
}
.work-image {
  display: flex;
  flex-wrap: wrap;
}
.title-features {
  font-size: 14px;
  line-height: 16px;
  color: var(--black-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title-description {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--grey-color);
  letter-spacing: 0.03em;
}

/*карточки*/
.card-title {
  font-size: 18px;
  line-height: 2;
  color: var(--black-color);
  margin: 0;
}
.card-description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-color);
  margin: 0;
}

/*занятие*/
.work {
  font-size: 36px;
  line-height: 42px;
  color: var(--black-color);
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-image {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.work-image:last-child {
  margin-right: 0;
}

/*Команда*/

.our-team {
  background: var(--our-team-color);
}

.title-team-list {
  display: flex;
  flex-wrap: wrap;
}
.our-team-o {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.our-team-o:last-child {
  margin-right: 0;
}
.our-list {
  text-align: center;
  border: 1px solid #eeeeee;
  background: var(--while-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-team {
  font-size: 36px;
  line-height: 42px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-color);
}

.profession {
  font-size: 16px;
  line-height: 19px;
  color: var(--grey-color);
  margin-top: 10px;
}

/*Кнопки*/
.all-button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.all-button-portfolio > li {
  text-align: center;
  font-size: 16px;
  line-height: 1.625;
  top: 174px;
  left: 495px;
  padding-left: 8px;
}
.all-button {
  background: var(--button-color);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 500;
  color: var(--black-color);
  border: none;
}
.all-button:hover {
  color: var(--while-color);
  background: var(--pretty-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.card:nth-child(3n) {
  margin-right: 0;
}
.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-content {
  border: 1px solid #eeeeee;
  background: var(--while-color);
  padding: 20px 24px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*Футер*/
.address {
  background: var(--dark-gray-color);
  border: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address .logo:hover {
  color: var(--while-color);
}

.address .contact-footer:hover {
  color: #2196f3;
}

.logo {
  display: block;
  font-family: Raleway;
  font-size: 26px;
  text-decoration: none;
  color: var(--while-color);
  width: 145px;

  margin-bottom: 20px;
}
.logo .web {
  color: var(--pretty-color);
}

.paragraph {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--while-color);
}
.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--footer-contacts-color);
  text-decoration: none;
}

.adress-list > li:not(:last-child) {
  margin-bottom: 9px;
}
